
/* This is adding the virus bubbles animation style onto the homepage */

* {padding:0; margin:0;}
.virus-container {
  width:100%;
  position:relative;
  overflow:hidden;
  height:1000px;
  background:#00081e;

}
.virus-text {
   text-align: center;
   width: 100%;
   position: absolute;
   z-index:9999999999999;
   vertical-align: middle;
   margin-top:8%;
}

.virus-text h1 { color: white;
 font-size: 140px;
}
.virus-text p { color: white;
 font-size: 30px;
 z-index:9999999999999;
}

div[class^="bubble-"]{
  position:absolute;
  background-image: url("https://ehlingard.com/wp-content/uploads/2020/05/virus.gif");
  background-repeat:no-repeat;
  background-size: contain;

}
div[class^="bubble-"]:after{
  content:'';
  position:absolute;

}
.bubble-1 {
  bottom:6px; left:48%;
  animation:bubble-movement 20s infinite ease-in 2.5s;
}
.bubble-2 {
  bottom:6px; left:22%;
  animation:bubble-movement 19s infinite ease-in -1.15s;
}
.bubble-3 {
  bottom:6px; left:35%;
  animation:bubble-movement 18s infinite ease-in 0.35s;
}
.bubble-4 {
  bottom:6px; left:84%;
  animation:bubble-movement 17s infinite ease-in -1.0s;
}
.bubble-5 {
  bottom:6px; left:9%;
  animation:bubble-movement 16s infinite ease-in -0.5s;
}
.bubble-6 {
  bottom:6px; left:47%;
  animation:bubble-movement 15s infinite ease-in -2.5s;
}
.bubble-7 {
  bottom:6px; left:45%;
  animation:bubble-movement 14s infinite ease-in -1.9s;
}
.bubble-8 {
  bottom:6px; left:89%;
  animation:bubble-movement 13s infinite ease-in -1.6s;
}
.bubble-9 {
  bottom:6px; left:44%;
  animation:bubble-movement 12s infinite ease-in -1.12s;
}
.bubble-10 {
  bottom:6px; left:58%;
  animation:bubble-movement 11s infinite ease-in -1.1s;
}
.bubble-11 {
  bottom:6px; left:28%;
  animation:bubble-movement 10s infinite ease-in -3.5s;
}
.bubble-12 {
  bottom:6px; left:18%;
  animation:bubble-movement 9s infinite ease-in -2.5s;
}
.bubble-13 {
  bottom:3px; left:28%;
  animation:bubble-movement 8s infinite ease-in -0.5s;
}
.bubble-14 {
  bottom:6px; left:98%;
  animation:bubble-movement 7s infinite ease-in -2.5s;
}
.bubble-15 {
  bottom:6px; left:55%;
  animation:bubble-movement 6s infinite ease-in -0.95s;
}
.bubble-16 {
  bottom:6px; left:58%;
  animation:bubble-movement 6s infinite ease-in -1.7s;
}
.bubble-17 {
  bottom:6px; left:68%;
  animation:bubble-movement 14s infinite ease-in -0.5s;
}
.bubble-18 {
  bottom:6px; left:78%;
  animation:bubble-movement 13s infinite ease-in -1.5s;
}
.bubble-19 {
  bottom:0px; left:8%;
  animation:bubble-movement 12s infinite ease-in 1s;
}
.bubble-20 {
  bottom:6px; left:38%;
  animation:bubble-movement 20s infinite ease-in -1s;
}

@keyframes bubble-movement {
  0% {
    width:50px;
    height:50px;
    transform:translate3d(0,0,0);
  }
  100% {
    width:255px;
    height:255px;
    transform:translate3d(0,-1000px,0);
  }
}
/* countries page  */

.countries-container {

  background-image: url("worldmap.png");
  background-repeat:no-repeat;
  background-size: cover;

}
.countries-content{
    width:100%;
    height: 1000px;
}
.country-list{
    padding-left: 100px;
    padding-top: 50px;
    color: #FFFFFF;
    font-size: 20px;
    font-weight: 500;
    text-shadow: 2px 2px #ff0000;
}

/* Facts Page */

.MainFactContainer{
  border: 4px double #A40A0A;
  color: white;
  background: #760000;
  background: -moz-linear-gradient(top, #760000 0%, #CB0000 50%, #710000 100%);
  background: -webkit-linear-gradient(top, #760000 0%, #CB0000 50%, #710000 100%);
  background: linear-gradient(to bottom, #760000 0%, #CB0000 50%, #710000 100%);
  font-family: Georgia, serif;
  text-align: center;
  font-size: 12pt;
  letter-spacing: 2px;
  word-spacing: 2px;
  font-weight: normal;
  text-decoration: rgb(255, 255, 255);
  font-style: normal;
  font-variant: small-caps;
  text-transform: none;
}

.FactList{
  background-image: url("https://www.cslbehring.com/-/media/global-csl-behring/vita-images/coronavirus-blue-background.jpg?h=430&w=768&cropregion=0,0,768,430&hash=CD342AF62B5D9F236DD9BD34B18EF88C979F62EF");
  background-size: cover;
  background-repeat: repeat;
  border: 4px double #A40A0A;
  color : #A40A0A ;
  font-size: 14pt;
} 
/* red hover over effect when highlighting a fact */
.FactList li:hover{
  background-color: #FFC621;
}

.footer{
  color: white;
  border: 4px double #A40A0A;
  background-color: rgb(255, 56, 56);
}
.footer a{
  color: white;
}

/* Donations Page */

.donations-body{
  color: white;
  
}
.choose-country{
  font-size: 1rem;
  display: inline-block;
  font-weight: bold;
  width: 350px;
  background-color: transparent;
  position: relative;
  cursor: pointer;
  color: gray;
}
.options{
  background-image: url("https://www.wwaytv3.com/wp-content/uploads/2020/03/MGN_1280x960_00311B00-MHUSC.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  width:100%;
  height: 1000px;
}
.options a:hover{
  color: gray;
  font-size: 40px;
}
.options a{
  padding-left: 100px;
    padding-top: 50px;
    color: #FFFFFF;
    font-size: 40px;
    font-weight: 500;
    text-shadow: 2px 2px #ff0000;
}

.donate-paragraph{
  color: white;
	font-size: 47px;
	-webkit-text-stroke: 1px #F8F8F8;
	text-shadow: 0px 2px 4px blue;
}

/* nav bar */
nav{
  background-image: url("https://netrinoimages.s3.eu-west-2.amazonaws.com/2020/03/27/700284/283575/coronavirus_sarscov2_red_3d_model_c4d_max_obj_fbx_ma_lwo_3ds_3dm_stl_2972683_o.png");
  background-size: contain;
  text-align: center;
  margin-bottom: 0px;
}

nav a{
  color: wheat;
  font-size: 14pt;
  font-weight: bold;
}


